@charset "utf-8";
@import "reset.css";

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
    format("woff");
}

@font-face {
    font-family: "KOTRA_BOLD-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

/*css*/
.result {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}


.result .title {
    position: absolute;
    width: 93%;
    left: 0px;
    right: 0px;
    margin: 50px auto;
    text-align: left;
}
.result .title span {
    display: block;
    width: 340px;
    height: 2px;
    background-color: #003ffa;
}
.result .title h2 {
    font-family: "NanumBarunGothic", sans-serif !important;
    color: #003ffa;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 490;
    letter-spacing: 5px;
}
.result .Menu {
    font-family: "NanumBarunGothic", sans-serif !important;
    position: absolute;
    width: 93%;
    left: 0px;
    right: 0px;
    margin: 140px auto;
    text-align: center;
}

.result .Menu img {
    /*미디어쿼리보다 앞에!! 주의*/
    width: 33px;
    height: 58px;
    margin: 15px;
}
.result .Menu h2 {
    color: #5b5b5b;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 52px;
    font-weight: 400;
    line-height: 1.2em;
}

.result .Desc {
    font-family: "NanumBarunGothic", sans-serif !important;
    position: absolute;
    width: 85%;
    left: 0px;
    right: 0px;
    margin: 480px auto;
    text-align: center;
    color: #5b5b5b;
    font-size: 18px;
    font-weight: 250;
    letter-spacing: 2px;
    line-height: 1.3em;
}

.result .Map{
    display: block;
    margin:0 auto;
    width: 90%;
    overflow: hidden;
    text-align: center;
    letter-spacing: 1px;
    z-index: -20;
}

.result .List{
    margin-top: 15px;
    width: 100%;
    position: absolute;
    font-family: "NanumBarunGothic", sans-serif !important;
    color: #5b5b5b;
    font-weight: 250;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.4em;
}
#li_title{
    display: block;
    font-weight: 300;
    margin-bottom: 4px;
}
.mapBox{
    margin-top: 15px;
}
.result .Desc p {
    padding-left: 8%;
    padding-right: 8%;
}
.result .Desc span {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #b8b5b5;
}
.result .toMain {
    margin-bottom: 50px;
    font-family: "NanumBarunGothic", sans-serif !important;
    position: absolute;
    width: 93%;
    height : 200px;
    left: 0px;
    right: 0px;
    top: 850px;
    text-align: right;
}
.result .toMain h5 {
    display: inline;
    color: #5b5b5b;
    letter-spacing: 1px;
    font-size: 18px;
    border-bottom: 1px solid #b4e7f8;
    box-shadow: inset 0 -4px 0 #b4e7f8;
}
/*미디어쿼리*/
@media (max-width: 767px) {
    .result .title {
        margin: 73px auto;
    }
    .result .title span {
        height: 2px;
        width: 100%;
    }
    .result .title :nth-child(3) {
        display: none;
    }
    .result .title h2 {
        font-size: 23px;
        margin-top: 10px;
        font-weight: 400;
    }
    .result .Menu {
        margin: 145px auto;
    }
    .result .Menu img {
        width: 25px;
        height: 40px;
    }
    .result .Menu h2 {
        font-size: 32px;
        font-weight: 300;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .result .Desc {
        margin: 410px auto;
        font-size: 13px;
    }
    .result .Desc span {
        height: 1px;
    }
    .result .toMain {
        top: 840px;
        margin: 0px auto;
        height: 100px;
    }
    .result .toMain h5 {
        font-size: 12px;
    }
}

.result .Desc :nth-child(1) {
    margin-bottom: 18px;
}
.result .Desc :nth-child(3) {
    margin-top: 18px;
}

.result .toMain h5:hover {
    /*마우스 올려놓았을 때*/
    background: #b4e7f8;
}